.modal-dialog {
    height: 100vh !important;
    display: flex;
}

.modal-content {
    margin: auto !important;
    height: fit-content !important;
}

#myDiv1 {
    display: flex;
    justify-content: center;
}

#infoTbl {
    align-self: center;
}

.tab-pane.active {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.tab_div {
    width: 700px !important;
    height: 500px !important;
    position: relative !important;
}


/* 80% of window height */


/* .modal-dialog,
.modal-content {
    height: 80%;
} */


/* 100% = dialog height, 120px = header + footer */


/* .modal-body {
    max-height: calc(100% - 120px);
    overflow-y: scroll;
} */